<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sspku.dao.CheckListDAO">


    <select id="getCheckList" parameterType="com.sspku.dto.CheckListDTO" resultType="com.sspku.model.CheckListDO">
        SELECT * from tb_check_list
    </select>

</mapper>