<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sspku.dao.ProcessDAO">


    <select id="getProcess" parameterType="com.sspku.dto.ProcessDTO" resultType="com.sspku.model.ProcessDO">
        SELECT * from tb_process
    </select>

</mapper>