<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sspku.dao.ProcessDAO">

    <select id="getUserCheckList" parameterType="com.sspku.dto.UserCheckListDTO" resultType="com.sspku.model.UserCheckListDO">
        SELECT * from tb_user_check_list
    </select>

</mapper>